<div id="ip-range-calc-card" class="card">
  <h3>Calculate CIDR</h3>
  <section>
    <div class="flex-row">
      <div class="ip-address-container">
        <app-input-ip label="Start IP Address" name="StartingIP" [(ngModel)]="ipAddressStart"
          (isValid)="isStartIPValid($event)">
        </app-input-ip>
      </div>
      <div class="ip-address-container">
        <app-input-ip label="End IP Address" name="EndingIP" [(ngModel)]="ipAddressEnd"
          (isValid)="isEndingIPValid($event)"></app-input-ip>
      </div>

      <div class="calculate-button-container">
        <button mat-icon-button aria-label="calculate CIDR range" [disabled]='!isInputValid' (click)="getCIDRRange()">
          <mat-icon>calculate</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <p class="input-error" *ngIf="ipInputError">{{ipInputError}}</p>
    </div>
  </section>
  <!--Results Section-->
  <div class="spacer"></div>
  <div class="result-header">
    <span class="result-header-text">Results</span>
    <span class="result-input-display" *ngIf="turnInputDisplayOn">for range {{ipAddressStart}} - {{ipAddressEnd}}</span>
    <span *ngIf='cidrRangeProcessingStatus !== ProcessingStatusType.None' [ngSwitch]='cidrRangeProcessingStatus'>
      <ng-template [ngSwitchCase]="ProcessingStatusType.Processing">
        <mat-icon class="processing">loop</mat-icon>
      </ng-template>
      <ng-template [ngSwitchCase]="ProcessingStatusType.Completed">
        <mat-icon class="completed">check_circle_outlined</mat-icon>
      </ng-template>
      <ng-template [ngSwitchCase]="ProcessingStatusType.Error">
        <mat-icon class="error">error_outline</mat-icon>
      </ng-template>
    </span>
  </div>
  <hr class="divider-line">
  <section class="results-container" *ngIf="cidrNotation">
    <div class="row">
      <div class="col-md-6 content-container">
        <p class="label">CIDR Notation</p>
        <p class="value">{{cidrNotation.IP}} / {{cidrNotation.CIDR}}</p>
      </div>
    </div>
  </section>
</div>
